<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>packagecloud.release</id>
            <password>${env.PCLOUD}</password>
        </server>
        <server>
            <id>packagecloud.snapshot</id>
            <password>6fac5eaa3d4cb03621d9616dea88d74595a6b8b4d15fb10e</password>
        </server>
        <server>
            <id>github</id>
            <username>springframeworkguru</username>
            <password>${env.GIT_PWD}</password>
        </server>
    </servers>
</settings>